body {
  background-color: lightgray;
  font-family: "Roboto", sans-serif;
}

.mainContainer {
  background-color: #00bacd;
  width: 80vh;
  height: ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.searchContainer {
  width: 55%;
  height: 190px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#userInput {
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0;
  padding: 0;
  font-size: 1.25em;
  color: #757575;
  text-indent: 10px;
  outline-style: none;
}
#searchButton {
  margin-top: 10px;
  height: 50px;
  background-color: #00e9fe;
  border-radius: 5px;
  border: 0;
  font-size: 1.75em;
  font-weight: bold;
  color: #006e79;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px;
}
